body{
    background-color:#333333;
}
#header{
    width: 100%;
    border-top-left-radius:40px ;
    border-top-right-radius:40px ;
    border-bottom-right-radius:40px ;
    background-color: #990000;
    color: #CC9900;
    margin: auto;
    height: 90px;
    font-size: x-large;
    text-align: center;
}
#logo{
    width: 25%;
    float: left;
    text-align: left;
}
#center{
    width: 50%;
    float: left;
    text-align: center;
}
#left{
    width: 25%;
    float: left;
}
#content{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #990000;
    color: #CC9900;
    width: 30%;
    margin: auto;
    height: 400px;
    font-size: x-large;
    text-align: center;
    border-top: dashed 2px;
}
#pocket{
    width: 20%;
    background-color: #990000;
    border-top: dashed 2px;
    height: 100px;
    float: left;
    color: #CC9900;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    text-align: center;
    font-size: large;
}
#form{
    padding: 40px;

}
img{
    width: 20%;
    height: 20%;
    border-radius: 50px;
    padding: 10px;
}