body{
    background-color:#333333;
}
#header{
    width: 100%;
    border-top-left-radius:40px ;
    border-top-right-radius:40px ;
    border-bottom-right-radius:40px ;
    background-color: #990000;
    padding: 10px;
    color: #CC9900;
    margin: auto;
    height: 90px;
    font-size: x-large;
}
#hcenter{
    float: left;
    text-align: center;
    width: 50%;
    padding-top: 1%;
}
#left{
    width: 25%;
    float: left;
}
#right{
    float: right;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 50px;
}
#logopng{
    width: 25%;
    height: 25%;
    border-radius: 50px;
    padding: 5px;
}
#pocket{
    width: 20%;
    background-color: #990000;
    border-top: dotted 2px;
    height: 140px;
    float: left;
    color: #CC9900;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    text-align: center;
    font-size: large;
}
#content{
    width: 30%; 
    background-color: #990000;
    border-top: dotted 2px;
    padding: 10px;
    padding-top: 5%;
    color: #CC9900;
    margin: auto;
    height: 400px;
    font-size: x-large;
    text-align: center;
}
#roulette{
    width: 30%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-color: #990000;
    padding: 10px;
    padding-top: 5%;
    color: #CC9900;
    margin: auto;
    height: 400px;
    font-size: x-large;
    text-align: center;
}
.ruletka{
    width: 80%;
    overflow: hidden;
    transition-duration: 5s;
    transition-property: transform;
}
.ruletka-flip{
    transform: rotate(3083deg);
     -webkit-transform:rotate(3083deg);
     -ms-transform:rotate(3083deg);
    -moz-transform:rotate(3083deg); 
    -o-transform:rotate(3083deg);
}
a{
    text-decoration: none;
    color:  #CC9900;
}
a:visited{
    text-decoration: none;
    color:  #CC9900;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #f1c84a;
}